<div class="mp3-player-container">
</div>

<div class="social-container">
    <a class="social-media-link" href="https://twitter.com/risepine">Twit</a>
    <a class="social-media-link" href="https://www.facebook.com/Risenpine247?fref=nf">Fb</a>
    <a class="social-media-link" href="https://instagram.com/risenpine/">Insta</a>
    <a class="social-media-link" href="">Email</a>
</div>



  <div class="header-container">
    <div class="logo-container">
    </div>
  </div>
</div>




<nav class="nav">
    <ul>
      <li><a class="sublink" href="http://risenpine.com/?cat=5">The Pine</a>
        <ul>
          <li><a href="#">Flowers</a></li>
          <li><a href="#">Extracts</a></li>
          <li><a ref="#">News</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=11">Music</a>
        <ul>
          <li><a href="#">Singles</a></li>
          <li><a href="#">Mixtapes</a></li>
          <li><a ref="#">News</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=7">Art</a>
        <ul>
          <li><a href="#">Artists</a></li>
          <li><a ref="#">Walls</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=4">Events</a>
        <ul>
          <li><a href="#">Local</a></li>
          <li><a ref="#">Music</a></li>
          <li><a href="#">Pine</a></li>
        </ul>
      </li>
    </ul>

      <div class='photo-link'><a href="http://risenpine.com/?cat=4">Photos</a></div>
  </nav>




<div class="articles-show-main-container" id="<%=@article.id%>">

  <div class="title-container">
    <h2 class="article-title"><%=@article.title%></h2>
  </div>

  <div class="info-container">
    Posted by: <%=@article.author%> on <%=@article.date%>
    <%=@article.artist%>
  </div>

  <div class="image-container">
    <%= image_tag(@article.image, :class => "img")%>
  </div>

  <div class="descr-container">
    <%= @article.description %>
  </div>
</div>


<div class="player-container">
  Player
</div>


<!--     Tags
    Related -->






<div class="comments-container">

  <a class="twitter-link" href="/twitter_oauth_url" class="btn btn-primary btn-larg">Connect to Twitter</a>


  <div class="comments">
  </div>



<div class="new-tweet">
  <%= render :partial => 'tweets/new'%>
</div>

</div>


<div class="related-container">
</div>


<footer class='footer-container'>

    <ul>
      <li><a class="sublink" href="http://risenpine.com/?cat=5">The Pine</a>

        <ul>
          <li><a href="#">Flowers</a></li>
          <li><a href="#">Extracts</a></li>
          <li><a ref="#">News</a></li>
          <li><a href="#">Videos</a></li>
        </ul>

      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=11">Music</a>

        <ul>
          <li><a href="#">Singles</a></li>
          <li><a href="#">Mixtapes</a></li>
          <li><a ref="#">News</a></li>
          <li><a href="#">Videos</a></li>
        </ul>

      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=7">Art</a>

        <ul>
          <li><a href="#">Artists</a></li>
          <li><a ref="#">Walls</a></li>
          <li><a href="#">Videos</a></li>
        </ul>

      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=4">Events</a>

        <ul>
          <li><a href="#">Local</a></li>
          <li><a ref="#">Music</a></li>
          <li><a href="#">Pine</a></li>
        </ul>

      </li>

    </ul>

      <div class='up-photo-link'><a href="http://risenpine.com/?cat=4">Photos</a></div>

  </footer>

</div>